body {
  height: 100vh;
  width: 100vw;
}
/* affects the background at the top of the webpage */
.title {
  display: flex;
  justify-content: center;
  background-color: rgb(53 51 51);
  font-weight: bolder;
}
/* targets the top name of the webpage */
#top-name {
  font-family: Roboto, Trebuchet MS, Helvetica, Arial, sans-serif;
  font-weight: bolder;
  color: white;
  background-color: red;
  font-size: 40px;
  padding: 0px 5px;
  margin-bottom: 0px;
}
/* puts the items into a column for the search bar */
.movie-search-bar {
  display: flex;
  flex-direction: column;
}
/* targets the styling for the movie button */
#movie-button {
  border-radius: 40px;
  color: black;
  background: linear-gradient(
    90deg,
    rgb(3, 254, 66) 0%,
    rgb(13, 223, 160) 100%
  );
}

/* .image-item {
  display: flex;
  justify-content: center;
} */

/* .grid-x {
  background: linear-gradient(90deg, rgba(248, 65, 65, 0.561) 10%, rgba(251, 251, 251, 0.636) 120%);
  background: url(./img/avengers.jpg);
  background-repeat: no repeat;
  background-size: cover;
} */

/* targets the top portion of the movie-search-bar
#top-movie-card {
  background: url(./img/Marvel\ Pic.jpg);
} */

#bottom-portion {
  background: url(./img/Marvel\ Pic.jpg);
}

/* #search-bar-movie {
  width: 300px;
  color: white;
} */

#movie-info {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20rem; */
  /* width: 500px; */
  background-color: rgb(255, 0, 0);
  margin-bottom: 0px !important;
}
/* targets the movie search section container */
#search-bar-color {
  opacity: 0.88;
  width: 265px;
  border-radius: 20px;
  background: url(/assets/img/Marvel\ Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px !important;
  text-align: center;
}

.full-card {
  width: 100%;
  color: white;
}

/* .movie-label, */
/* #search-button {
  color: white;
} */
/* targets the button for the character search section */
#character-search-button {
  color: rgb(0, 0, 0);
  border-radius: 40px;
  background: linear-gradient(
    90deg,
    rgb(248, 255, 32) 0%,
    rgba(196, 167, 5, 0.871) 100%
  );
}

/* #movie-search-here {
  color: rgb(248, 246, 246);
} */

/* #search-here {
  align-items: center;
} */
/* this targets the character search bar container */
#character-search-color {
  opacity: 0.88;
  align-items: start;
  border-radius: 20px;
  background: url(./img/OIP\ \(4\).jpg);
  height: 50rem;
  width: 265px;
}
/* this also targets the top card section */
.custom-cell {
  max-width: 200px !important;
  min-height: 400px !important;
  margin-bottom: 15px;
}
/* targets the movie cards and gives them an outline */
.custom-card {
  width: 100%;
  height: 100%;
  outline: 5px solid white;
}
/* targets the space from the top of the movie section */
.pt15 {
  padding-top: 50px !important;
}
/* targets the movie search card */
.movie-cards {
  background: linear-gradient(
    90deg,
    rgb(239, 142, 142) 0%,
    rgba(4, 38, 255, 0.871) 100%
  );
  border-radius: 30px;
  text-align: center;
  color: white;
}
/* targets the search section card for characters */
.character-cards {
  background: linear-gradient(
    90deg,
    rgb(19, 1, 97) 0%,
    rgba(123, 139, 249, 0.871) 100%
  );
  border-radius: 30px;
  text-align: center;
  color: white;
  border-radius: 15px 50px 30px 5px;
}
/* targets the bottom cards and gives them the property of space evenly */
#character-search {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
}
/* targets the top card section and is allowing them to be centered */
.movie-searching {
  display: flex;
  justify-content: center;
}
/* targets the bottom cards */
.character-cell {
  max-width: 200px !important;
  min-height: 500px !important;
  margin-bottom: 15px;
}
/* targets each card giving them an outline and a height and width */
.character-card {
  width: 100%;
  height: 100%;
  outline: 5px solid rgb(255, 0, 0);
}

/* .making-cover:hover {
  background: linear-gradient(
    90deg,
    rgb(23, 23, 23) 0%,
    rgba(0, 0, 0, 0.871) 100%
  );
} */
/* targets the bottom cards and gives different styling when hovered over */
.character-card:hover {
  /* background: linear-gradient(
    90deg,
    rgb(248, 25, 5) 0%,
    rgba(4, 38, 255, 0.871) 100%
  ); */
  box-shadow: 20px 20px 20px rgba(255, 0, 0, 0.779);
  transform: scale(1.1);
}
/* affects the padding between the two cards by targeting the bottom card section */
.pt16 {
  padding-top: 15px !important;
}
/* targets the whole container to be used as a background */
.background-image-container{
  background: url(./img/mcu.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
/* targets the bottom cards */
.card-section {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 2000px) {
  body {
  background-color: lightgreen;
  background: url(./img/mcu.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  }
}