* {
    background-color: rgba(92, 48, 48, 0.622);
}

.title {
    display: flex;
    justify-content: center;
    background-color: rgb(8, 8, 8);
    font-weight: bolder;
}

#top-name {
    font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-weight: bolder;
    color: white;
    background-color: red;
    font-size: 40px;
    
}

.movie-search-bar {
    display: flex;
    width: 400px;
}

#search-bar-movie {
    width: 400px;
    color: white;
}

#movie-info {
    align-items: center;
    margin-top: 20rem;
    margin-left: 100px;
    width: 500px;
    background: url(./img/Marvel\ Pic.jpg);
}

#search-bar-color {
    background: url(./img/Marvel\ Pic.jpg);
}