@import 'util/util';

* {
  background-color: rgb(228, 33, 33);
}


body {
  height: 100vh;
  width: 100vw;
}

.title {
  display: flex;
  justify-content: center;
  background-color: rgb(53 51 51);
  font-weight: bolder;
}

#top-name {
  font-family: Roboto, Trebuchet MS, Helvetica, Arial, sans-serif;
  font-weight: bolder;
  color: white;
  background-color: red;
  font-size: 40px;
  padding: 0px 5px;
  margin-bottom: 0px;
}


.movie-search-bar {
    display: flex;
    flex-direction: column;
}

#movie-button {
  border-radius: 40px;
  color: black;
  background: linear-gradient(90deg, rgb(3, 254, 66) 0%, rgb(13, 223, 160) 100%);
}

.image-item {
  display: flex;
  justify-content: center;
}

.grid-x {
 background: linear-gradient(90deg, rgba(248, 65, 65, 0.561) 10%, rgba(251, 251, 251, 0.636) 120%);
}

#search-bar-movie {
  width: 300px;
  color: white;
}

#movie-info {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20rem; */
  /* width: 500px; */
  background-color: rgb(255, 0, 0);
  margin-bottom: 0px !important;
}

#search-bar-color {
  width: 265px;
  border-radius: 20px;
  background: url(/assets/img/Marvel\ Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px !important;
}

.full-card {
  width: 100%;
  color: white;
}

.movie-label,
#search-button {
  color: white;
}

#character-search-button {
  color: black;
  border-radius: 40px;
  background: linear-gradient(90deg, rgb(248, 255, 32) 0%, rgba(196, 167, 5, 0.871) 100%);
}

#character-search-color {
  align-items: start;
  border-radius: 20px;
  background: url(./img/OIP\ \(4\).jpg);
  height: 50rem;
  width: 265px;
}